body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(Imagens/fundoC.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

main{
    width: 40%;
    height: 690px;
    background-color: #2A0E35;
    margin: auto;
    margin-top: 150px;
    border-radius: 5%;
    padding: 20px;
    /*border: solid 2px black;*/
}

#titulo{
    font-size: 2.3em;
    text-align: center;
    width: 165px;
    margin: 20px;
    font-weight: bolder;
    /*border: solid 2px black;*/
}

.cadastro{
    height: 80px;
    width: 60%;
    margin: 0;
    margin-left: 20px;
    margin-top: 25px;
    /*border: solid 2px black;*/
}

label{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 3px;
    width: 100%;
}

input{
    width: 93%;
    height: 20px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1rem;
    border-radius: 10px;
    
}

button{
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    height: 35px;
    margin-top: 20px;
    margin-left: 25px;
}

